{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<img src="https://wallpapercave.com/wp/wp4919518.jpg" class="bg">
<div class="wrapper fadeInDown">
    <div id="formContent">
        DASHBOARD
        <ul>
            {% for team in Teams %}
                <li> 
                {{ team.name }} <br>
                Score: {{ team.score }} <br>
                Users: <br>
                {% for user in team.users %}
                    {{ user }} <br>
                {% endfor %}
                </li> <br>
            {% endfor %}
        </ul>


      <a href="{% url 'home' %}" class="inactive underlineHover">Home</a>
      <p> </p>
    </div>
  </div>
</body>  
{% endblock content %}