{% extends "base.html" %}

{% block content %}
<img src="https://wallpapercave.com/wp/wp4919518.jpg" class="bg">
<div class="wrapper fadeInDown">
    <div id="formContent">
        Public History
        <ul>
            {% for group in Groups %}
                <li> 
                Owners:
                {% for owner in group.owners %}
                    {{owner}},
                {% endfor %}
                <br>
                Gifters:
                {% for gifter in group.gifters %}
                    {{gifter}},
                {% endfor %}
                </li> <br>
            {% endfor %}
        </ul>

        Private History
        <ul>
            {% for guess in Guess %}
                {% if guess.owner == user or guess.gifter == user%}
                    <li> 
                        Owner: {{guess.owner}}<br>
                        Gifter: {{guess.gifter}}<br>
                        Gifted: {{guess.gifted}}<br>
                        Answer: {{guess.answer}}
                    </li> <br>
                {% endif %}
            {% endfor %}
        </ul>

      <a href="{% url 'home' %}" class="inactive underlineHover">Home</a>
      <p> </p>
    </div>
  </div>  
{% endblock content %}