{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Login Form -->
      <form method="POST">
        {% csrf_token %}
        <p>
            <input id="{{ form.first_name.id_for_label }}" 
                type="text" 
                name="{{ form.first_name.name }}" 
                maxlength="100" 
                placeholder="First name" 
                class="fadeIn second" 
                {% if form.first_name.value != None %} 
                    value="{{ form.first_name.value|stringformat:'s' }}"
                {% endif %} 
                required>
                
            <input id="{{ form.last_name.id_for_label }}" 
                type="text" 
                name="{{ form.last_name.name }}" 
                maxlength="100" 
                placeholder="Last name" 
                class="fadeIn second" 
                {% if form.last_name.value != None %}
                    value="{{ form.last_name.value|stringformat:'s' }}"
                {% endif %} 
                required>

            <input id="{{ form.username.id_for_label }}" 
                type="text" 
                name="{{ form.username.name }}" 
                maxlength="100" 
                placeholder="Username" 
                class="fadeIn second" 
                {% if form.username.value != None %}
                    value="{{ form.username.value|stringformat:'s' }}"
                {% endif %} 
                required>

            <input id="{{ form.alias.id_for_label }}" 
                type="text" 
                name="{{ form.alias.name }}" 
                maxlength="4" 
                placeholder="Alias" 
                class="fadeIn second" 
                {% if form.alias.value != None %}
                    value="{{ form.alias.value|stringformat:'s' }}"
                {% endif %} 
                required>

            <input id="{{ form.gift.id_for_label }}" 
                type="text" 
                name="{{ form.gift.name }}" 
                maxlength="200" 
                placeholder="Desired gift" 
                class="fadeIn second" 
                {% if form.gift.value != None %}
                    value="{{ form.gift.value|stringformat:'s' }}"
                {% endif %} 
                required>

            <input id="password1" 
                type="password" 
                name="password1" 
                maxlength="100" 
                placeholder="Password" 
                class="fadeIn third" 
                required>

            <input id="password2" 
                type="password" 
                name="password2" 
                maxlength="100" 
                placeholder="Confirmed password" 
                class="fadeIn third" 
                required>
        </p>
        <input type="submit" name="submit">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
      </form>

      <a href="{% url 'sign_in' %}" class="inactive underlineHover">Sign In </a>
      <p> </p>
    </div>
  </div>
</body>  
{% endblock content %}