{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        Users
        <ul>
            {% for user in object_list %}
                <li> 
                Name: {{ user.user.first_name }} {{ user.user.last_name }} <br>
                Alias: {{ user.alias }} <br>
                Desired gift: {{ user.gift }}
                </li> <br>
            {% endfor %}
        </ul>

      <a href="{% url 'home' %}" class="inactive underlineHover">Home</a>
      <p> </p>
    </div>
  </div>
</body>  
{% endblock content %}