{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        {% if user.is_superuser %}
            <a href="{% url 'create_game' %}">Crear juego</a> <br>
            {% if game_active %}
                <a href="{% url 'start_game' %}">Iniciar juego</a> <br>
            {% endif %}
        {% endif %}
        {% if game_active %}
            <a href="{% url 'guess' %}">Guess</a> <br>
            <a href="{% url 'history' %}">History</a> <br>
        {% endif %}
        <a href="{% url 'users' %}">Usuarios registrados</a> <br>
        <a href="{% url 'sign_out' %}">Cerrar sesión</a> <br> <br>

        {% if game_active %}
            Fecha actual: {{ date }} <br>
            Fecha final: {{ end_date }} <br>
            Pasamos la fecha final: {{ end_countdown }} <br> <br>

            {% if end_game %}
                Winners: {{ winners }}
            {% else %}
                Guessing: {{ guessing }}
            {% endif %}
            <br> <br>
            <ul>
                {% for team in Teams %}
                    <li> 
                    {{ team.name }} <br>
                    Score: {{ team.score }} <br>
                    Users: <br>
                    {% for user in team.users %}
                        {{ user.alias }}. ({{ user.guessed }}) <br>
                    {% endfor %}
                    </li> <br>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
    Fuera de aqui. Negro.
        <a href="{% url 'sign_up' %}">Registrate</a>
        <a href="{% url 'sign_in' %}">Iniciar sesión</a>
    {% endif %}
    
{% endblock content %}